@import "../../css/vars.scss";

.projects-container {
    background: linear-gradient(30deg, rgba(110, 110, 110, 1) 0%, rgba(3, 80, 105, 1) 60%);

    h2 {
        color: $green;
        text-align: center;
    }

    .row:first-child {
        margin-bottom: 60px;
    }

}
