@import "../../css/vars.scss";

.about-container {
    background: rgb(240,255,189);
    background: linear-gradient(144deg, rgba(240,255,189,0.4) 0%, rgba(255,255,255,1) 80%) !important;

    h2 {
        text-align: center;
    }
}